.page-logo-text {
    position: relative;
  }

  .main-word1 {
    position: absolute;
    top: 30px;
    left: 122px;
    z-index: 1;
  }

  .main-word2 {
    position: absolute;
    top: 28px;
    left: 204px;
    z-index: 2;
  }

  .main-word3 {
    position: absolute;
    top: 24px;
    left: 314px;
    z-index: 3;
  }

  .main-word4 {
    position: absolute;
    top: 160px;
    left: 13px;
    z-index: 4;
  }

  .main-word5 {
    position: absolute;
    top: 173px;
    left: 130px;
    z-index: 5;
  }

  .main-word6 {
    position: absolute;
    top: 180px;
    left: 250px;
    z-index: 6;
  }

  .main-word7 {
    position: absolute;
    top: 175px;
    left: 347px;
    z-index: 7;
  }

  .main-word8 {
    position: absolute;
    top: 175px;
    left: 430px;
    z-index: 8;
  }

  .main-text {
    position: relative;
    top: 290px;
    left: 84px;
  }

  .main-button {
    position: relative;
    top: 300px;
    left: 210px;
  }

  .start-btn{
    padding: 0px 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: transform 0.3s ease;
  }

  .start-btn:hover {
    transform: scale(1.1);
  }
