/* 폰트 설정 */
@font-face {
  font-family: "iceHimchan-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceHimchan-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 전체 body 스타일링 */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* 화면 높이 설정 */
  background-color: #f0f0f0;
  /* 배경색 설정 */
}

/* 핸드폰 화면 스타일링 */
.phone-screen {
  display: flex;
  width: 600px;
  /* 핸드폰 화면 너비 */
  height: 720px;
  /* 핸드폰 화면 높이 */
  background-image: url("../pic/background.png");
  /* 배경 이미지 설정 */
  background-size: 600px 720px;
  background-repeat: no-repeat;
  /* 이미지 반복 없음 */
  background-position: center;
  /* 이미지 중앙 정렬 */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* 그림자 설정 */
  overflow: hidden;
  /* 내용이 화면을 넘어갈 때 숨김 */
}

/* 핸드폰 화면 내용 스타일링 */
.phone-screen-content {
  width: 100%;
  height: 100%;
}

/* 결괏값 이미지 스타일링 */
.conclusion {
  display: flex;
  justify-content: center;
  /* 가로 가운데 정렬 */
  align-items: center;
  /* 세로 가운데 정렬 */
}

/* 공유 버튼 스타일링 */
.share {
  position: relative;
  top: 435px;
  left: 25px;
  cursor: pointer;
}

/* 두 번째 공유 버튼 스타일링 */
.share2 {
  position: relative;
  top: 360px;
  left: 60px;
  cursor: pointer;
}

/* 공유 버튼 호버 시 투명도 조정 */
.share,
.share2:hover {
  opacity: 0.85;
}

/* 스탬프 스타일링 */
.stamp {
  position: relative;
  top: 280px;
  left: 490px;
}

/* 회사 정보 스타일링 */
.company {
  position: relative;
  top: 210px;
  left: 370px;
  font-size: 13px;
  font-weight: bold;
  opacity: 60%;
  font-family: "iceHimchan-Rg", sans-serif;
}

/* 포스트잇 스타일링 */
.post1 {
  position: relative;
  top: -310px;
  left: 65px;
}

.post2 {
  position: relative;
  top: -560px;
  left: 275px;
}

.post3 {
  position: relative;
  top: -620px;
  left: 70px;
}

.post4 {
  position: relative;
  top: -870px;
  left: 285px;
}

/* 포스트잇 호버 시 스케일 조정 */
.post1,
.post2,
.post3,
.post4 {
  transition: transform 0.3s ease;
}

.post1:hover,
.post2:hover,
.post3:hover,
.post4:hover {
  transform: scale(1.1);
}
